params {
    // Resource Capping
    max_cpus   = 32
    max_memory = 900.GB
    max_time   = 24.h
}

// Slurm Execution Settings
process {
    executor       = 'slurm'
    scratch        = true
    clusterOptions = "--nodelist=${System.getenv('NEXTFLOW_NODE') ?: 'cmp09'}"
}

// Apptainer Container Configuration & Persistent Image Cache
apptainer {
    enabled    = true
    autoMounts = true
    cacheDir   = '/data/prod/nextflow/cache/apptainer'
    runOptions = '-B /tmp:/tmp'
}
